
nav {
  text-align: center;
  position: relative;
  background: #BCDDFE;
  padding: 7px 8px;
  border-radius: 33px;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white !important;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: block;
  padding: 13px 0;
  border-radius: 33px;
  margin: 0 2px;
  width: 146px;
}

a:hover {
  color: white;
}

.active {
  background: #40BFFF;
}

//nav .animation {
//  position: absolute;
//  height: 40px;
//  top: 0;
//  z-index: 0;
//  background: #40BFFF;
//  border-radius: 33px;
//  //transition: all .5s ease 0s;
//  width: 146px;
//}

//
//nav .start-home, a:nth-child(1):hover ~ .animation {
//  left: 11px;
//  top: 8px;
//}


/*===============  RESPONSIVE  ==================*/

@media (min-width: 321px) {
  //nav a:nth-child(2):hover ~ .animation {
  //  left: 163px;
  //}
  //nav a:nth-child(2).active ~ .animation {
  //  left: 187px;
  //  top: 8px
  //}
  //nav a:nth-child(1):hover ~ .animation {
  //  left: 11px;
  //}
}

@media (min-width: 768px) {
  .switch-login {
    width: 329px;
  }
  //nav a:nth-child(2):hover ~ .animation {
  //  left: 186px;
  //}
  //nav a:nth-child(2).active ~ .animation {
  //  left: 186px;
  //}
  //nav a:nth-child(1):hover ~ .animation {
  //  left: 11px;
  //}
}

@media (min-width: 1024px) {

}
